$black: #000;
$white: #fff;
$light-white: #e3e3e3;

$purple_1: #38023b;
$purple_2: #4e2158;
$purple_3: #860f8e;
$purple_4: #2c012e;
$purple_5: #540759;

$orange_1: #ff5100;
$orange_2: #ec7f00;
$orange_3: #eca500;

$primary: #bed73c;
$hover-active: #708316;
$secundary: #593c97;
$terceary: #6e3694;