<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<globalization culture="pt-BR" uiCulture="pt-BR" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule"/>
		</modules>
		<staticContent>
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="07.00:00:00" />
		</staticContent>

		<httpErrors errorMode="Detailed" />

		<!-- Ativar a compactação Gzip -->
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />

		<!-- Compactar arquivos estáticos (CSS, JS, etc.) -->
		<httpCompression>
			<dynamicTypes>
				<add mimeType="text/css" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
			</dynamicTypes>
		</httpCompression>

		<rewrite>
			<rules>
                <rule name="Friendly Url Admin HTTPS">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTPS}" pattern="off" />
                        <add input="{SCRIPT_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
				<rule name="Friendly Url Admin">
					<match url="^(.*)$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{SCRIPT_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{SCRIPT_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php?route=/{R:1}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>

	</system.webServer>
</configuration>
