.fv-plugins-bootstrap5-row-invalid {
	.select2 {
		border: 1px solid #f1416c;
		border-radius: 0.475rem;
	}

	.error {
		border: 1px solid #f1416c;
	}
}

.fv-plugins-bootstrap5-row-valid {
	.select2 {
		border: 1px solid #198754;
		border-radius: 0.475rem;
	}

	.valid {
		border: 1px solid #198754;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--kt-input-solid-color) !important;
	-webkit-box-shadow: 0 0 0 1000px var(--kt-input-solid-bg) inset !important;
	transition: background-color 5000s ease-in-out 0s !important;
	background-color: var(--kt-input-solid-bg) !important;
	border-color: var(--kt-input-solid-bg) !important;
	color: var(--kt-input-solid-color) !important;
}
